# IDE
.idea
.vscode

# general
.env

# backend
backend/src/generated/prisma
backend/node_modules

# frontend
# dependencies
frontend/node_modules
frontend/.pnp
frontend.pnp.*
frontend.yarn/*
frontend/!.yarn/patches
frontend/!.yarn/plugins
frontend/!.yarn/releases
frontend/!.yarn/versions
# testing
frontend/coverage
# next.js
**/.next/
frontend/out/
# production
frontend/build
frontend/.env
# misc
frontend/.DS_Store
frontend/*.pem
# debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*
# vercel
frontend/.vercel
# typescript
frontend/*.tsbuildinfo
frontend/next-env.d.ts

# terraform
terraform/*terraform.tfstate*
terraform/.terraform